/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap");

/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
  height: 100vh;
}

/* Header Styles */
header {
  background-color: red;
}

/* Container Styles */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.content h2,
.content p {
  font-size: 1rem; /* Default font size */
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

.content h2 {
  font-size: 4.5rem; /* Specific font size for h2 */
}

/* Logo Styles */
.logo {
  order: 1;
}

.logo img {
  width: 100%;
  max-width: 100px;
  display: block;
  object-fit: cover;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav {
  display: flex;
  order: 2;
  align-items: center;
  padding: 0.5rem 0;
}

.navbar nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 20px; 
  display: flex;
}

.navbar nav ul li {
  margin-left: 20px;
}

.navbar nav ul li:first-child {
  margin-left: 0;
}

.navbar nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
  color: black;
}

.btn {
  cursor: pointer;
  display: none;
  order: 3;
}

/* Video */
.video_container {
  width: 100%;
  height: 400px; /* Adjusted height for smaller screens */
  overflow: hidden;
}

.video_container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Social Networks */
.social_icons {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Adjusted width for specific layout */
  font-size: 1.9rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* Input Styles */
input[type="url"] {
  background-color: red;
  border: 1px solid white;
  height: 30px;
  width: 100%; /* Adjusted width for specific layout */
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="url"]::placeholder {
  font-weight: bold;
  color: black;
  text-align: center;
}

input[type="url"]:focus {
  background-color: white;
  border-color: red;
}

input[type="text"]:focus::placeholder {
  color: transparent;
}

/* Try button */
.tryButton {
  display: block;
  margin: 2rem auto; /* Centered button */
  width: fit-content; /* Adjusted width for smaller screens */
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: inherit;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.ra-list {
  list-style-type: none;
  padding-left: 20px;
}

.ra-list li::before {
  content: "•";
  color: red; 
  margin-right: 5px;
}

.red-divider {
  border-top: 3px solid red;
  margin: 20px 0;
  padding-left: 20px;
  padding-right: 20px;
}

/* Media Queries */
@media (max-width: 1024px) {

  
  .tryButton {
    font-size: 0.8rem; /* Reducir el tamaño de la fuente */
    padding: 8px 16px; /* Reducir el padding */
  }

  .social_icons i {
    font-size: 1.5rem; /* Reducir el tamaño de los iconos */
  }
}


/* Video */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Cambia la dirección del flexbox a columna */
  }

  .video_container {
    order: 2; /* Cambia el orden del contenedor de video */
    margin-top: 20px; /* Agrega un margen superior */
  }
}

/* Social Networks */
.social_icons {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ajuste de ancho */
  font-size: 1.5rem; /* Ajuste de tamaño de fuente */
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* Media Query para ajustar los iconos en pantallas más pequeñas */
@media (max-width: 768px) {
  .social_icons {
    justify-content: space-around; /* Cambia el espacio entre los íconos */
  }
}

/* Input Styles */
/* ... */

/* Try button */
.tryButton {
  display: block;
  margin: 2rem auto;
  width: 80%; /* Ajuste de ancho */
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem; /* Ajuste de tamaño de fuente */
  border-radius: 4px;
  border: 1px solid #ddd;
  background: inherit;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 480px) {
  /* Estilos para dispositivos de pantalla pequeña (móviles pequeños) */

  .logo {
    display: none; /* Ocultar el logo en dispositivos de pantalla pequeña */
  }

  .tryButton {
    font-size: 0.6rem; /* Reducir aún más el tamaño de la fuente */
    padding: 4px 8px; /* Reducir aún más el padding */
  }

  .social_icons i {
    font-size: 1rem; /* Reducir aún más el tamaño de los iconos */
  }
}
